global_defs {
    router_id {{ inventory_hostname }}
    enable_script_security
    script_user root
}

vrrp_script chk_haproxy {
    script "/usr/bin/pgrep haproxy"
    interval 2
    weight 10
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == 'lb1' else 'BACKUP' }}
    interface eth0
    virtual_router_id 51
    priority {{ 101 if inventory_hostname == 'lb1' else 100 }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 123456
    }
    unicast_src_ip {{ ansible_host }}
    unicast_peer {
        {{ groups['loadbalancers'] | reject('equalto', inventory_hostname) | map('extract', hostvars, 'ansible_host') | first }}
    }
    virtual_ipaddress {
        {{ lb_vip }}/24 dev eth0
    }
    track_script {
        chk_haproxy
    }
}
