####################################
# 🦎 KOMODO COMPOSE - VARIABLES 🦎 #
####################################

## Follows "major.minor.patch" semver.
COMPOSE_KOMODO_IMAGE_TAG="2"
## Store dated database backups on the host - https://komo.do/docs/setup/backup
COMPOSE_KOMODO_BACKUPS_PATH=./backups

## DB credentials
KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=__KOMODO_DATABASE_PASSWORD__

## Set your time zone for schedules
TZ=Europe/Madrid

#=-------------------------=#
#= Komodo Core Environment =#
#=-------------------------=#

## Used for Oauth / Webhook url suggestion. Cambia esto si expones Komodo detras de un dominio propio.
KOMODO_HOST=http://localhost:9120
## Displayed in the browser tab.
KOMODO_TITLE=Komodo

## Allow Periphery to connect via generated public key
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub

## Enable login with username + password.
KOMODO_LOCAL_AUTH=true
## Set the initial admin username created upon first launch.
KOMODO_INIT_ADMIN_USERNAME=admin
## Set the initial admin password. CAMBIALA tras el primer login.
KOMODO_INIT_ADMIN_PASSWORD=__KOMODO_INIT_ADMIN_PASSWORD__

## Create a first Server with a custom name.
KOMODO_FIRST_SERVER_NAME=Local

## Make execute buttons just double-click, rather than the full confirmation dialog.
KOMODO_DISABLE_CONFIRM_DIALOG=false

## Disable creating the default Procedures on first startup.
KOMODO_DISABLE_INIT_RESOURCES=false

## Change the default pagination limit for the API and UI to use.
KOMODO_DEFAULT_PAGINATION_LIMIT=50

## Used to auth incoming webhooks.
KOMODO_WEBHOOK_SECRET=__KOMODO_WEBHOOK_SECRET__
## Used to generate jwt.
KOMODO_JWT_SECRET=__KOMODO_JWT_SECRET__
## Time to live for jwt tokens.
KOMODO_JWT_TTL="1-day"

## Rate Komodo polls your servers for status / container status / system stats / alerting.
KOMODO_MONITORING_INTERVAL="15-sec"
## Interval at which to poll Resources for any updates / automated actions.
KOMODO_RESOURCE_POLL_INTERVAL="1-hr"

## Disable new user signups.
KOMODO_DISABLE_USER_REGISTRATION=false
## All new logins are auto enabled
KOMODO_ENABLE_NEW_USERS=false
## Disable non-admins from creating new resources.
KOMODO_DISABLE_NON_ADMIN_CREATE=false
## Allows all users to have Read level access to all resources.
KOMODO_TRANSPARENT_MODE=false

## OIDC Login
KOMODO_OIDC_ENABLED=false

## Github Oauth
KOMODO_GITHUB_OAUTH_ENABLED=false

## Google Oauth
KOMODO_GOOGLE_OAUTH_ENABLED=false

## Prettier logging with empty lines between logs
KOMODO_LOGGING_PRETTY=false
KOMODO_PRETTY_STARTUP_CONFIG=false

#=------------------------------=#
#= Komodo Periphery Environment =#
#=------------------------------=#

## Point Periphery to Core for connection
PERIPHERY_CORE_ADDRESS=ws://core:9120
## Use the same name as KOMODO_FIRST_SERVER_NAME to connect
PERIPHERY_CONNECT_AS=${KOMODO_FIRST_SERVER_NAME}
## Use the public key generated by Core.
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub

## Specify the root directory used by Periphery agent.
PERIPHERY_ROOT_DIRECTORY=/etc/komodo

## Specify whether to disable the terminals feature.
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_DISABLE_CONTAINER_TERMINALS=false

## If the disk size is overreporting, whitelist /etc/hostname.
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname

PERIPHERY_LOGGING_PRETTY=false
PERIPHERY_PRETTY_STARTUP_CONFIG=false
