{
  "identities": [
    {
      "name": "pepesan",
      "credentials": [
        {
          "accessKey": "__S3_ACCESS_KEY__",
          "secretKey": "__S3_SECRET_KEY__"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
