apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ portainer_ip }}:9090
    uid: Prometheus
    isDefault: true

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ portainer_ip }}:3100
    uid: Loki
