## Credenciales iniciales de Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=__GRAFANA_ADMIN_PASSWORD__

## Zona horaria (logs/paneles con hora local)
TZ=Europe/Madrid

## Descomenta y rellena para notificaciones por email desde Grafana
# GF_SMTP_ENABLED=true
# GF_SMTP_HOST=smtp.tuempresa.com:587
# GF_SMTP_USER=grafana_no_reply@tuempresa.com
# GF_SMTP_PASSWORD=cambia_esto
# GF_SMTP_FROM_ADDRESS=grafana_no_reply@tuempresa.com
# GF_SMTP_FROM_NAME=Grafana Curso SRE
